<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>GameUp!</title>
  <meta name="description" content="GameUp">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- general -->
  <script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

  <!-- 3rd party -->
  <script type="text/javascript" src="libraries/parse-angular.js"></script>
  <script type="text/javascript" src="libraries/satellizer.min.js"></script>

</head>

<body ng-app="GameUpApp">
  <div ng-hide="currentUser">
    <form ng-show="scenario == 'Sign up'">
      <h2>Sign up</h2>
      Username: <input type="text" ng-model="user.username" /><br />
      Password: <input type="password" ng-model="user.password" /><br />
      <button ng-click="signUp(user)">Sign up</button>
      or <a href="#" ng-click='scenario="Log in"'>Log in</a>
    </form>

    <form ng-show="scenario == 'Log in'">
      <h2>Log in</h2>
      Username: <input type="text" ng-model="user.username" /><br />
      Password: <input type="password" ng-model="user.password" /><br />
      <button ng-click="logIn(user)">Log in</button>
      or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
    </form>
  </div>

  <div ng-show="currentUser">
    <div ng-view></div>
  </div>


  <!-- Modules -->
  <script src="app/app.js"></script>

  <!-- Controllers -->
  <script src="assets/controllers/EventController.js"></script>
  <script src="assets/controllers/HomeController.js"></script>

</body>

</html>
