<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">

      <legend><i class="ion-clipboard"></i> Hi, {{userprofile.name}}</legend>
        <div class="form-group">
          <label class="control-label">Email:</label> {{userprofile.email}} <br/><br/>
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Events</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Your Events</legend>
      <div>Event 1</div>
      <div>Event 2</div>
      <div>Event 3</div>
    </div>
  </div>
</div>
