/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #e4e7ec;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #000;
}

.text-muted {
  color: #90939a;
}

.nav-logo {
  height: 50px;
  width: auto;
}

.nav-create-btn {
  background-color: #e67e22;
  border: none;
  margin-top: 12px;
}

.nav-create-btn a {
  
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

.nav > li > a {
  padding: 0;
}

.navbar-default {
  color: #fff;
  background: #fff;
}

.navbar-default .navbar-brand {
  color: #333;
  background-color: #ffe939;
}

.navbar-default .navbar-brand:hover {
  color: #ffe939;
  background-color: #333;
}

.navbar-brand {
  margin-left: -15px;
  transition: 0.25s all;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.profile-picture {
  height: 100px;
  display: block;
}

.event-container {
  width: 100%;
  margin: 0 auto;
}

.event-search {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding-bottom: 30px;
}

.event {
  display: block;
  color: white;
  background: #2c3e50;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 2px #888888;
}

.event-detail {
  margin-bottom: 10px;
}

.event-detail-text {
  font-size: 26px;
  margin-right: 15px;
  margin-left: 5px;
}

.event-detail-container .header {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}

.event-detail-container .header .banner {
  display: table-cell;
  padding-right: 20px;
  vertical-align: top;
}

.event-detail-container .header .banner img {
  height: 120px;
  width: auto;
}

.event-detail-container .header .contact-org {
  background-color: #2980b9;
  margin-top: 10px;
}

.event-detail-container .header .detail {
  display: table-cell;
  vertical-align: middle;
}

.event-detail-container .header .detail h2 {
  margin: 0;
  font-size: 25px;
}

.event-detail-container .header .detail span {
  padding-right: 30px;
  font-size: 20px;
}

.event-detail-container .sidebar button {
  width: 100%;
}

.event-detail-container .buy-tickets button {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background-color: #BE1622;
  border: none;
}

.event-detail-container .sidebar .timeToEvent {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.event-detail-container .sidebar .organizers {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.event-detail-container .sidebar .organizers .organizer {
  text-align: center;
}

.event-detail-container .sidebar .organizers .organizer img {
  height: 70px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.event-detail-container .sidebar .attendees {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.event-detail-container .sidebar .attendees .attendee-title {
  padding-top: 15px;
}

.event-detail-container .sidebar .attendees h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;
}

.event-detail-container .sidebar .attendees .view-all-link {
  display: inline-block;
  float: right;
  margin-top: 5px;
}

.event-detail-container .sidebar .attendees .attendee {
  text-align: center;
}

.event-detail-container .sidebar .attendees .attendee img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.event-detail-container .sidebar .games {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.event-detail-container .sidebar .games .game {
  text-align: center;
}

.event-detail-container .sidebar .games .game img {
  width: 100%;
}

.event-detail-container .event-detail .about {
  background-color: white;
  margin-bottom: 20px;
}

.event-detail-container .event-detail .schedule {
  background-color: white;
  margin-bottom: 20px;
}

.event-detail-container .event-detail .schedule span {
  text-indent: 50px;
}

.event-detail-container .event-detail .prizes {
  background-color: white;
  margin-bottom: 20px;
}

.event-detail-container .event-detail .prizes span {
  text-indent: 25px;
}

.event-detail-container .event-detail .rules {
  background-color: white;
  margin-bottom: 20px;
}

.event-detail-container .event-detail .map-container {
  background-color: white;
  padding-bottom: 10px;
}

.event-detail-container .event-detail .map-container map {
  height: 300px;
}

#speakers {
  background-image: url('../img/sound-wave-trans.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#speakers .name {
  font-size: 25px;
  margin: 10px 0 2px;
}
#speakers .sub {
  font-size: 18px;
  color: #BE1622;
  margin: 0 0 15px;
}

#footer {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#footer .foot-logo {
  max-height: 150px;
  width: auto;
  margin-bottom: 10px;
}

#footer .foot-nav-container {
  margin-bottom: 10px;
}

#footer .foot-nav {
  padding-right: 10px;
  text-transform: uppercase;
}