<div class="wrapper">
  <div data-gracket='[
      [
        [ {"name" : "Mahtab", "id" : "mahtab", "seed" : 1}, {"name" : "Ajit", "id" : "ajit", "seed" : 2} ],
        [ {"name" : "Ishan", "id" : "ishan", "seed" : 3}, {"name" : "Tyler", "id" : "tyler", "seed" : 4}],
        [ {"name" : "Mario", "id" : "mario", "seed" : 5}, {"name" : "Helen", "id" : "helen", "seed" : 6} ],
        [ {"name" : "Paul", "id" : "paul", "seed" : 7}, {"name" : "Alex", "id" : "alex", "seed" : 8}],
        [ {"name" : "Liam", "id" : "liam", "seed" : 9}, {"name" : "Bruce", "id" : "bruce", "seed" : 10} ],
        [ {"name" : "Carl", "id" : "carl", "seed" : 1}, {"name" : "David", "id" : "david", "seed" : 12}],
        [ {"name" : "Evelyn", "id" : "evelyn", "seed" : 13}, {"name" : "Faye", "id" : "faye", "seed" : 14} ],
        [ {"name" : "George", "id" : "george", "seed" : 15}, {"name" : "Hubert", "id" : "hubert", "seed" : 16}]
      ], 
      [
        [ {"name" : "Mahtab", "id" : "mahtab", "seed" : 1}, {"name" : "Tyler", "id" : "tyler", "seed" : 3} ],
        [ {"name" : "Helen", "id" : "helen", "seed" : 5}, {"name" : "Paul", "id" : "paul", "seed" : 8} ],
        [ {"name" : "Liam", "id" : "liam", "seed" : 10}, {"name" : "Carl", "id" : "carl", "seed" : 12} ],
        [ {"name" : "Evelyn", "id" : "evelyn", "seed" : 14}, {"name" : "George", "id" : "george", "seed" : 15} ]
      ],
      [
        [ {"name" : "Mahtab", "id" : "mahtab", "seed" : 1}, {"name" : "Helen", "id" : "helen", "seed" : 5} ],
        [ {"name" : "Liam", "id" : "liam", "seed" : 10}, {"name" : "Evelyn", "id" : "evelyn", "seed" : 14} ]
      ],
      [
        [ {"name" : "Mahtab", "id" : "mahtab", "seed" : 1}, {"name" : "Evelyn", "id" : "evelyn", "seed" : 10} ]
      ],
      [
        [ {"name" : "Mahtab", "id" : "mahtab", "seed" : 1} ]
      ]
    ]'>
  </div>
</div>


<script type="text/javascript">
  $("[data-gracket]").gracket();
</script>