<div class="row">
  <div class="panel panel-default">
    <!-- <div class="panel-heading">Profile</div> -->
    <div class="panel-body">

      <legend><i class="ion-clipboard"></i> Hi, {{user.name}}</legend><br/><br/>
        <div class="form-group">
          <!-- <label class="control-label">Email:</label> {{user.email}} <br/><br/>
          <label class="control-label">Profile Picture</label> -->
          <img class="profile-picture" ng-src="{{user.picture}}">
        </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Your Purchases</div> <br/>
    <div class="panel-body">
      <div>Event 1</div>
      <div>Event 2</div>
      <div>Event 3</div>
    </div>
  </div>

</div>
